In [1]:
import netCDF4 as nc
import numpy as np
import pandas as pd 
import os
import plotly.express as px
import json
import pycountry
import dash
import dash_core_components as dcc
import dash_html_components as html
import data_proc
import draw

csv_path = './data/GlobalLandTemperaturesByCountry.csv'
json_path = './data/countries.geo.json'
#nc_path = './data/Raw_TAVG_EqualArea.nc'
nc_path = './data/Raw_TAVG_LatLong1.nc'

In [2]:
nc = data_proc.NCProc(nc_path)

In [3]:
nc.obj

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: Berkeley Earth Internal Convention (based on CF-1.5)
    title: Gridded Berkeley Earth Surface Temperature Anomaly Field
    history: 23-Jan-2020 11:13:36
    institution: Berkeley Earth Surface Temperature Project
    source_file: NoScalpelNoWeighting_TAVG.50985s.20200123T110933.mat
    source_history: 23-Jan-2020 07:33:02
    source_code_version: ca6f26341938dae0ea7dd619bce6f15e
    comment: This file contains surface temperature anomaly field gridded on a 1� (longitude) by 1� (latitude) grid-box basis.
    dimensions(sizes): longitude(360), latitude(180), time(3240), month_number(12)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), float64 time(time), float64 land_mask(latitude,longitude), float32 temperature(time,latitude,longitude), float32 climatology(month_number,latitude,longitude)
    groups:

In [32]:
index = np.array(nc.time)//1 ==1999
tp = np.nanmean(np.array(nc.temperature)[index],axis=0)

In [31]:
lat = np.array(nc.latitude)
long = np.array(nc.longitude)

In [40]:
df = pd.DataFrame(tp.reshape(len(lat)*len(long)),columns=['temperature'])
df['latitude'] = lat.repeat(len(long))
df['longitude'] = np.tile(long,len(lat))
df

       temperature  latitude  longitude
0        -0.264964     -89.5     -179.5
1        -0.263619     -89.5     -178.5
2        -0.262293     -89.5     -177.5
3        -0.260987     -89.5     -176.5
4        -0.259701     -89.5     -175.5
...            ...       ...        ...
64795          NaN      89.5      175.5
64796          NaN      89.5      176.5
64797          NaN      89.5      177.5
64798          NaN      89.5      178.5
64799          NaN      89.5      179.5

[64800 rows x 3 columns]